
*{
  margin:0px;
  padding:0px;
}

body{
  background-color:#011627;
  color:white;
  border:30px solid #02d1b5;
  border-top: 0px;
  text-align: center;
  padding:10px;

}

h1{
  padding:10px;
  text-align:center;

}
h2{
  padding:10px;
  text-align:center;
}
p{
  padding:20px 60px;
  text-align: justify;
}
.signupform{
  padding:10px;
  margin:auto;
  text-align: center;
}

input{
  padding:3px;
  margin:10px;

}

#sub{
  margin-top:5px;
  margin-bottom:5px;
  height: 40px;
  width:140px;
  border-radius:10px;
  font-size:1em;
  background-color: #FF9f1C;
}
